/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-ui-light: #fafafa;
  --color-ui-shade: #0a0a09;
  --color-ui-background: #f1e9da;
  --color-ui-foreground: #2e294e;
  --color-ui-primary: #ffd400;
  --color-ui-accent: #d90368;
  --color-ui-highlight: #541388;
  --color-ui-dark-background: #1a1a2e;
  --color-ui-dark-foreground: #eaeaea;
  --color-ui-dark-primary: #ffdd33;
  --color-ui-dark-accent: #ff4f7b;
  --color-ui-dark-highlight: #6a28a5;

  --font-dmSans: var(--font-dm-sans);
  --font-workSans: var(--font-work-sans);

  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #0a0a09;
  font-family: var(--font-work-sans);
  overflow-x: hidden;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-dm-sans);
  }
}

.rdp-caption_dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdp-vhidden {
  display: none;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes progress {
    0% {
      width: 0%;
    }

    50% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }

  .animate-progress {
    animation: progress 2s ease-in-out infinite;
  }
}
