@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  scroll-behavior: smooth;
}

body {
  @apply bg-ui-light text-ui-shade dark:bg-ui-dark-background dark:bg-ui-dark-foreground !font-workSans;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-dmSans;
  }
}

.rdp-caption_dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rdp-vhidden {
  display: none;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes progress {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  .animate-progress {
    animation: progress 2s ease-in-out infinite;
  }
}
